workflows/core/Create Google Drive Date Folder.json
{
  "name": "Create Google Drive Date Folder",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "865f4b85-9d1c-46b3-a13e-49296ae1c76b",
              "name": "GoogleFolderID",
              "value": "={{ $json.FolderId }}",
              "type": "string"
            },
            {
              "id": "67a59829-1bc6-4008-8a0a-868acedd0715",
              "name": "FolderName",
              "value": "={{ $json.FolderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -80
      ],
      "id": "39a93d2e-f313-4a84-ba56-c0690ee80fb5",
      "name": "Return"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "FolderName"
            },
            {
              "name": "ParentFolderId"
            }
          ]
        }
      },
      "id": "d9caf4c5-b91c-4f6d-9004-58aa8b2db600",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        960,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "249cfd9f-3435-4cee-84df-80502b50b312",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -96
      ],
      "id": "c4f3426b-8a0d-466f-8c36-ceb6d1d055f2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cab8e12b-c556-41cf-bdb8-5d75ce9d4deb",
              "name": "FolderId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "28a85413-0b9f-4a78-a66e-3b79406ffc92",
              "name": "FolderName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        32
      ],
      "id": "ac5c9f10-d136-4872-8576-aee74f5b4e0d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22f7c27b-13d9-4212-9c25-19f066f7b450",
              "name": "FolderId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f7648df3-4f14-425b-b234-d2c3228a6a2b",
              "name": "FolderName",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -240
      ],
      "id": "3030d958-1931-44b7-b42b-c3e5cf398bbf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.FolderName }}",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.ParentFolderId }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        -96
      ],
      "id": "a0613fc6-45f6-4a97-9251-30d8d930c7c9",
      "name": "Search for Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CSYfAa0ZYLfVlshz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Start').item.json.FolderName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.ParentFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        -240
      ],
      "id": "1a704411-91bd-4725-9858-8011a629a23b",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CSYfAa0ZYLfVlshz",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "FolderName": "2025-07-17 18:56",
          "ParentFolderId": "1dnPI8WAo0cdaZNI1gZIHAtydDzvAPeDr"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Search for Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Folder": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7632751-2454-41c5-8c42-275a322cd7f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8edd5d7e3ae181bc95a0413e7506e4b6ee1385f7be5a93f8cbfb6d9b5a737e91"
  },
  "id": "PfHE6wmdDqtTLqiD",
  "tags": []
}